.gameItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #e8f5ee;
  height: 100px;
  overflow: hidden;
  background: #e2e2e2b0;
}

.unmatched {
  background-color: rgb(232, 79, 79);
}
